body {
    background-color: #9fc7e0;
}

.landing {
    padding: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    background-color: #ff6780;
    color: #ffffff;
    border: 20px solid #a37ab7;
    border-radius: 35px;
}


button {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-radius: 15px;
    background-color: #ffafaf;
}