<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title> The Dima's Button for the interview at BoxKite</title>
    <link rel="stylesheet" href="static/thebutton.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
    <script src="static/thebutton.js"></script>
</head>
<body>
    <div class="landing">
        <p>
            Last click: {{ last_click }}<br/>
            Last clicker: {{ last_clicker }}<br/>
            Current time: <a id="timer"></a><br/>
        </p>

        <br><br>

        <form>
            <div class="form-group">
                <input name="username" class="form-control" placeholder="Your name" />
                <br>
                <button  type="button" class="btn btn-warning btn-lg btn-block">
                this is the button :)
                </button>
            </div>
        <form>
    </div>
</body>