<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title> The Dima's Button for the interview at BoxKite</title>
    <link rel="stylesheet" href="static/thebutton.css"></link>
    <script src="static/thebutton.js"></script>
</head>
<body>
    <p>
        Last click: {{ last_click }}<br/>
        Last clicker: {{ last_clicker }}<br/>
        Current time: {{ delta }}<br/>
    </p>

    <form method="POST" action="/click">
        <input name="username" placeholder="Your name" />
        <input type="hidden" name="last_click" value="{{ last_click }}" />
        <input type="submit"/>
    <form>
</body>