<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title> The Dima's Button for the interview at BoxKite</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="static/thebutton.css"></link>
    <script src="static/thebutton.js"></script>
</head>
<body>
    <div class="landing container">
        <div class="alert alert-danger" id="server-down-alert" style="display:none;">
            <strong>Oh snap!</strong>
            <p> Error accessing server when attempting to update the data. 
                Server must be down or something </p>
        </div>
        <div id="status-panel">
            <div class="row">
                <div class="col-xs-6 text-right">
                    Last clicker 
                </div>
                <div class="col-xs-6">
                    <strong id="clicker-name"></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-right">
                Clicked in 
                </div>
                <div class="col-xs-6">
                    <strong id="timer"></strong>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <form>
                <div class="form-group">
                    <input id="username" class="form-control" placeholder="Your name" />
                    <br>
                    <button id="thebutton" type="button" class="btn btn-warning btn-lg btn-block">
                    this is the button :)
                    </button>
                </div>
            <form>
        </div>
        <div class="row" id="score-panel" style="display:none;">
            <div class="col-xs-6 text-right">
                your score 
            </div>
            <div class="col-xs-6">
                <strong id="score"></strong> secs
            </div>
        </div>
    </div>

    <div class="leaderboard container">
        <div class="row">
            <div class="col-xs-12">
                <p class=" text-center lead">Leaderboard</p>
                <table class="table table-hover">
                    <tbody id="leaderboard">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>